
<section id='main'>

  <h1>Please show me how to Fizz Buzz</h1>
  <p>Supply two numbers. When you submit I will print all of the number 1 through 100 replacing all of the numbers divisible by the first number with 'fizz'. <br><br>

  I will then replace all of the numbers divisible by the second number and print 'buzz' in their place.<br><br>

  Lastly I will print 'fizzbuzz' for numbers that are divisible by both number 1 and number 2!
  </p>

  <form action="/" method="post">
     <div>
      <label for='fizz'>First number:</label>
      <input type='number' name='fizz' id='fizz'>
    </div>

    <div>
      <label for='buzz'>Second number:</label>
      <input type='number' name='buzz' id='buzz'>
    </div>

     <input type='submit' value='Fizz Buzz Me'>
  </form>



</section>